@using Core.ModuleExtensions.CustomFields.Field
@using Core.ModuleExtensions.CustomFields.Model
@model FieldEdit
@{ var moduleAdmin = AppCore.Get<Plugins.Admin.ModuleAdmin>(); }

<script type='text/javascript'>
    function select_type(type) {
        $('select#field_type').val(type);
        $('div#types').children().hide();
        $('div#types').find('#type_' + type).show();

        if (type == 2 || type == 3 || type == 11)
        {
            $("div#variants").show();
            $("select[name=@nameof(Model.IdValueType)]").prop('disabled', true).val('@((int)FieldValueType.KeyFromSource)');
        }
        else
        {
            $("div#variants").hide();
            $("select[name=@nameof(Model.IdValueType)]").prop('disabled', false);
        }
    }

    function updateItem(itemData)
    {
        try
        {
            $("input[name='@Html.NameOf(x => x.IdField)']").val(itemData.@Html.NameOf(x => x.IdField));
            $("#EditLabel").text(itemData.@Html.NameOf(x => x.IdField) == 0 ? "Добавление поля" : "Редактирование поля '" + itemData.@Html.NameOf(x => x.name) + "'");

            $("input[name='@Html.NameOf(x => x.name)']").val(itemData.@Html.NameOf(x => x.name));
            $("input[name='@Html.NameOf(x => x.nameAlt)']").val(itemData.@Html.NameOf(x => x.nameAlt));
            $("input[name='@Html.NameOf(x => x.alias)']").val(itemData.@Html.NameOf(x => x.alias));
            $("input[name='@Html.NameOf(x => x.nameEnding)']").val(itemData.@Html.NameOf(x => x.nameEnding));
            $("input[name='@Html.NameOf(x => x.formatCheck)']").val(itemData.@Html.NameOf(x => x.formatCheck));
            $("input[name='@Html.NameOf(x => x.size)']").val(itemData.@Html.NameOf(x => x.size));
            $("select[name='@Html.NameOf(x => x.IsValueRequired)']").val(itemData.@Html.NameOf(x => x.IsValueRequired));
            $("select[name=@Html.NameOf(x => x.IdValueType)]").val(itemData.@Html.NameOf(x => x.IdValueType));

            $("select#field_type").val(itemData.@Html.NameOf(x => x.IdFieldType)).change();

            var _maxOrder = 0;

            $('table#variantsTable').tablefill(itemData.@Html.NameOf(x => x.data), function (tr_elem, data) {
                $(tr_elem).addClass('FieldValueRow');
                $(tr_elem).children().each(function (ichild) {
                    if (ichild == 0) $(this).find('input').val(data['IdFieldValue']);//$(this).text(data['IdFieldValue']);
                    else if (ichild == 1) $(this).find('input').val(data['FieldValue']);
                    else if (ichild == 2) $(this).find('input').val(data['Order']);
                });

                if (data.Order > _maxOrder) _maxOrder = data.Order;
            }, null, function () {
                $('table#variantsTable').find('a.variantRemove').unbind('click').click(function (e) {
                    e.preventDefault();

                    var tr = $(this).closest('tr');
                    var item = tr.data('BoundedItem');
                    if (item != undefined) {
                        if (confirm("Вы уверены, что хотите удалить значение '" + item.FieldValue + "'? Если нет связанных объектов, при сохранении значение будет сразу удалено из базы.")) {
                            tr.remove();
                        }
                    }
                    return false;
                });
            });

            $("input[name=Order]").val(_maxOrder + 1);

            $("div#variants").hide();
            if (itemData.@Html.NameOf(x => x.IdFieldType) == 2 || itemData.@Html.NameOf(x => x.IdFieldType) == 3) $("div#variants").show();
        }
        catch (err)
        {
            console.log(err);
            alert("Данные поля: " + err);
        }
    }

    $(document).ready(function () {
        try {

            $("form#form_ae").requestJSON({
                before: function (data) {
                    var values = new Array();
                    $('table#variantsTable tr.FieldValueRow').each(function () {
                        if (!$(this).find('input.Remove').is(':checked'))
                            values[values.length] = {
                                IdFieldValue: $(this).find('input.IdFieldValue').val(),
                                FieldValue: $(this).find('input.FieldValue').val(),
                                Order: $(this).find('input.Order').val(),
                            };
                    });
                    data.set('values', JSON.stringify(values));

                    $("#field_result").text('').hide();
                    $("#loading_img").show();
                },
                after: function (result, message, data) {
                    if (message != undefined && message.length > 0) alert(message);// $("#field_result").text(message).show();
                    $("#loading_img").hide();

                    if (result == JsonResult.OK) updateItem(data);
                }
            });

            $("a.variantAdd").click(function (e) {
                e.preventDefault();
                $('table#variantsTable').tablefillAdd({
                    IdFieldValue: 0,
                    FieldValue: $(this).parent().parent().find('input[name=FieldValue]').val(),
                    Order: $(this).parent().parent().find('input[name=Order]').val(),
                });

                $(this).parent().parent().find('input[name=FieldValue]').val('').focus();
                $(this).parent().parent().find('input[name=Order]').val($(this).parent().parent().find('input[name=Order]').val() * 1 + 1);
            });

            $("#loading_img, #field_result").hide();

            $("select#field_type").change(function () {
                select_type($("select#field_type").val());
            });

            updateItem(@Model.jsobject());

        } catch (err) { alert(err); }
    });
</script>

<form action='/@moduleAdmin.UrlName/madmin/@Module.UrlName/fieldSave' method='post' id='form_ae'>
    @Html.HiddenFor(x => x.IdField)
    <h2 id="EditLabel">Редактирование поля</h2>
    <table width='400' id="fields_results" class="admtable">
        <tr>
            <th colspan='2'>&nbsp;</th>
        </tr>
        <tr>
            <td width='225'>Название поля<br><small>(на русском языке, например, "Дополнительные опции")</small>:</td>
            <td>
                @Html.TextBoxFor(x => x.name, new { size = 35 })<br />
                @Html.ValidationMessageFor(x => x.name)
            </td>
        </tr>
        <tr>
            <td>Дополнительное название поля<br><small>(для формы настроек)</small>:</td>
            <td>
                @Html.TextBoxFor(x => x.nameAlt, new { size = 35 })<br />
                @Html.ValidationMessageFor(x => x.nameAlt)
            </td>
        </tr>
        <tr>
            <td>Псевдоним поля<br><small>(имя поля, через которое оно будет доступно в шаблонах)</small>:</td>
            <td>
                @Html.TextBoxFor(x => x.alias, new { size = 35 })<br />
                @Html.ValidationMessageFor(x => x.alias)
            </td>
        </tr>
        <tr>
            <td>Окончание поля <br><small>(после значения)</small>:</td>
            <td>
                @Html.TextBoxFor(x => x.nameEnding, new { size = 35 })<br />
                @Html.ValidationMessageFor(x => x.nameEnding)
            </td>
        </tr>
        <tr>
            <td>Длина поля<br><small>(если это текстовое поле, то макс число знаков, если список - то макс число элементов. 0 - нет ограничений)</small>:</td>
            <td>
                @Html.TextBoxFor(x => x.size, new { size = 35 })<br />
                @Html.ValidationMessageFor(x => x.size)
            </td>
        </tr>
        <tr>
            <td>Тип поля:</td>
            <td>
                @Html.DropDownListFor(x => x.IdFieldType, FieldTypesCollection.GetTypes().Select(x => new SelectListItem() { Value = x.IdType.ToString(), Text = x.TypeName }), new { id = "field_type" })<br />
                @Html.ValidationMessageFor(x => x.IdFieldType)
            </td>
        </tr>
        <tr>
            <td>Тип значений:</td>
            <td>
                @Html.EnumDropDownListFor(x => x.IdValueType)<br />
                @Html.ValidationMessageFor(x => x.IdValueType)
            </td>
        </tr>
        <tr>
            <td>Формат ввода данных<br><small>на основе регулярных выражений C#</small>:</td>
            <td>
                @Html.TextBoxFor(x => x.formatCheck, new { size = 35 })<br />
                @Html.ValidationMessageFor(x => x.formatCheck)
            </td>
        </tr>
        <tr>
            <td>Обязательность ввода данных:</td>
            <td>
                <select name='mustvalue'>
                    <option value='0'>Поле может быть пустым</option>
                    <option value='1'>Значение должно быть указано</option>
                </select><br />
                @Html.ValidationMessageFor(x => x.IsValueRequired)
            </td>
        </tr>
        <tr>
            <td colspan='2' align='center'>
                Образец поля выбранного типа<br>

                <div id='types'>
                    <div id='type_1' style='display:none;'>
                        Текстовое поле:<br>
                        <input type='text' size='50' readonly>
                    </div>

                    <div id='type_5' style='display:none;'>
                        Скрытое текстовое поле:<br>
                        <input type='text' size='50' readonly>
                    </div>

                    <div id='type_7' style='display:none;'>
                        Многострочное текстовое поле:<br>
                        <textarea rows='5' cols='40' readonly></textarea>
                    </div>

                    <div id='type_9' style='display:none;'>
                        Скрытое многострочное текстовое поле:<br>
                        <textarea rows='5' cols='40' readonly></textarea>
                    </div>

                    <div id='type_2' style='display:none;'>
                        Группа элементов "Radiobutton":<br>
                        <input type='radio' name='radioTest'> 1;
                        <input type='radio' name='radioTest'> 2;
                        <input type='radio' name='radioTest'> 3;
                    </div>

                    <div id='type_3' style='display:none;'>
                        Группа элементов "Checkbox":<br>
                        <input type='checkbox' name='checkTest'> 1;
                        <input type='checkbox' name='checkTest'> 2;
                        <input type='checkbox' name='checkTest'> 3;
                    </div>

                    <div id='type_4' style='display:none;'>
                        Разделитель:<br>
                        <hr />
                    </div>

                    <div id='type_11' style='display:none;'>
                        Список любых значений:<br>
                        <input type='text' name='' value='123'>;
                        <input type='text' name='' value='абвгд'>;
                        <input type='text' name='' value='http://test.ru/image.jpg'>;
                    </div>

                </div>

            </td>
        </tr>
    </table>

    <div id='variants' style='display:none;'>
        Варианты значений:<br>
        <table id="variantsTable" class="admtable">
            <tr>
                <th style="width:15px">№</th>
                <th style="width:135px">Текст</th>
                <th style="width:40px">Порядок</th>
                <th>Действия</th>
            </tr>
            <tr id='notfounded'>
                <td colspan='6'>Нет элементов</td>
            </tr>
            <tr id='obraz' style='display:none;'>
                <td class="center"><input type='text' class='IdFieldValue' value='' disabled size='4'></td>
                <td><input type='text' class='FieldValue' size='30' rel='0' value=''></td>
                <td><input type='text' class='Order' value='0' size='4'></td>
                <td><a href='' class="variantRemove"><img src='/data/img/design/off.jpg' alt='Удалить'></a></td>
            </tr>
            <tr>
                <td class="center"></td>
                <td><input type='text' name='FieldValue' size='30' rel='0' value=''></td>
                <td><input type='text' name='Order' size='4' rel='0' value='0'></td>
                <td>
                    <a href='' class="variantAdd"><img src='/data/img/design/accept.gif' alt='Добавить'></a>
                </td>
            </tr>
            <tbody></tbody>
        </table>
    </div>

    <input type='submit' value='Сохранить'> <img src="/data/img/loading.gif" alt="" id="loading_img">
</form>

<div id='field_result' style="padding:10px;"></div>

