@using Materials
@model List<Materials.DB.News>
@{ 
    Layout = "baseMaterial.cshtml";
    Title = "Новости";
}

@section breadcrumbs {
    <!-- (breadcrumbs) -->
    <div class="breadcrumbs inner-breadcrumbs">
        <div class="breadcrumbs__cover cover">
            <div class="breadcrumbs__links">
                <a typeof="v:Breadcrumb" href="/" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__arrow"></span>
                <p class="breadcrumbs__last">Новости недвижимости</p>
            </div>
        </div>
    </div>
    <!-- End (breadcrumbs) -->
}

<!-- (new-page) -->
<div class="new-page">
    <div class="new-page__cover cover">
        <div class="new-page__content clearfix">
            <div class="list-news-content">
                <div class="title-page-news clearfix">
                    <h1 class="title-page-news__text">Новости недвижимости</h1>
                    @*
                    <ul class="title-page-news__list-links">
                        <li class="title-page-news__item-links active">
                            <a href="#" class="title-page-news__link">Новое</a>
                        </li>
                        <li class="title-page-news__item-links">
                            <a href="#" class="title-page-news__link">Популярное</a>
                        </li>
                    </ul>
                    *@
                </div>
                 
                @foreach (var item in Model)
                {
                    <div class="new-block-line">
                        <div class="new-block-line__content">
                            <div class="new-block-line__img-block">
                                <a href="@item.Url" class="new-block-line__img-link">
                                    <img src="~/Data/images/nophoto_news_210x183.jpg" alt="@item.name" class="new-block-line__img">
                                </a>
                            </div>
                            <div class="new-block-line__text">
                                <h4 class="new-block-line__title">
                                    <a href="@item.Url" class="new-block-line__title-link">@item.name</a>
                                </h4>
                                <p class="new-block-line__desc">
                                    @if (!string.IsNullOrEmpty(item.short_text))
                                    { @Html.Raw(item.short_text) }
                                    else
                                    { @Html.Raw(item.text.Truncate(0, 250, "...")) }
                                </p>
                                <div class="new-block-line__date">@item.date.ToString("dd.MM.yyyy HH:mm")</div>
                            </div>
                        </div>
                    </div>
                }
                
                @*if (Model.pages != null && Model.pages.pages > 1)
                {
                    <div class="pagination-block pagination-news clearfix">
                        <div class="pagination">
                            <span data-url="@(Model.pages.curpage > 1 ? Model.CurrentURL + "/?page=" + (Model.pages.curpage-1):"")" class="nofollow pagination__link-prev @(Model.pages.curpage > 1 ? " active":"")">Предыдущая</span>
                            <ul class="pagination__list">
                                @if (Model.pages.curpage > 6)
                                {
                                    <li class="pagination__item"><a href="@Model.CurrentURL" class="pagination__link" title="">1</a></li>
                                                <li class="pagination__item pagination-empty"><span class="pagination__link">...</span></li>
                                }
                                @foreach (var pair in Model.pages.stpg)
                                {
                                    <li class="pagination__item"><a href="@Model.CurrentURL@if(pair.Key > 1) {<text>/?page=@pair.Key</text>}@if (Request.QueryString.HasKey("sorting")) {<text>/@Request.QueryString.Get("sorting")</text>} " class="pagination__link" title="">@pair.Key</a></li>
                                }
                                <li class="pagination__item">
                                    <span class="pagination__link">@Model.pages.curpage</span>
                                </li>
                                @foreach (var pair in Model.pages.fnpg)
                                {
                                    <li class="pagination__item"><a href="@Model.CurrentURL/?page=@pair.Key" class="pagination__link" title="">@pair.Key</a></li>
                                }
                                @if (Model.pages.curpage < Model.pages.np)
                                {
                                    <li class="pagination__item pagination-empty"><a class="pagination__link">...</a></li>
                                                <li class="pagination__item"><a href="@Model.CurrentURL/?page=@Model.pages.pages" class="pagination__link" title="">@Model.pages.pages</a></li>
                                }
                            </ul>

                            <span data-url="@Model.CurrentURL/?page=@(Model.pages.curpage+1)" class="nofollow pagination__link-next @(Model.pages.curpage > 0 && Model.pages.curpage < Model.pages.pages ? " active":"")">Следующая</span>
                        </div>
                    </div>
                }*@
            </div>
            <div class="new-left-bar">
                @*
                <div class="search-news">
                    <form name="form" action="#" method="POST">
                        <input type="text" name="search" value="" placeholder="Поиск" class="search-news__input">
                        <button type="submit" name="submit" class="search-news__submit"></button>
                    </form>
                </div>
                *@
                <div class="category-nav">
                    <h3 class="category-nav__title">Меню по разделам</h3>
                    <ul class="category-nav__list">
                        <li class="category-nav__item active">
                            <a href="@(Url.CreateRoute<ModuleMaterials, ModuleController>(x => x.ViewNewsAll()))" class="category-nav__link">Новости недвижимости</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End (new-page) -->

@section scripts {
    <script type="text/javascript">
        $(function () {
        });
    </script>
}
