@using OnUtils.Application.Modules
@{
    var g = this;

    if (string.IsNullOrEmpty(Title))
    {
        if (Module != null && !string.IsNullOrEmpty(Module.Caption)) { this.Title = Module.Caption; }
    }

    if (string.IsNullOrEmpty(Description))
    {
        this.Description = Config.site_descr.Replace(" \"", "&quot;");
    }

    if (string.IsNullOrEmpty(Keywords))
    {
        this.Keywords = Config.site_keys.Replace(" \"", "&quot;");
    }

    var userContextCurrent = AppCore.GetUserContextManager().GetCurrentUserContext();
}

<!DOCTYPE html>
<html lang="ru" @RenderSection("htmlTagAttributes", false)>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="">

    <title>@Title : @Config.SiteFullName</title>

    <meta name="description" content="@Description" />
    <meta name="keywords" content="@Keywords" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic">
    <link rel="stylesheet" href="/data/css/plugins.css">
    <link rel="stylesheet" href="/data/css/style.css">
    <link rel="stylesheet" href="/data/css/font-awesome.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='https://code.jquery.com/jquery-migrate-1.2.1.min.js'></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    @*
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/datepicker-ru.js"></script>
        <script type='text/javascript' src='/data/js/ajax.js'></script>
        <script type='text/javascript' src='/data/js/jquery.tablefill.js'></script>
        <script type='text/javascript' src='/data/js/jquery.fancybox.pack.js?v=2.1.3'></script>
    *@
    <script type="text/javascript" src="/data/js/work.js"></script>
    <script type="text/javascript" src="/data/js/common.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    @*
        <link rel="stylesheet" type="text/css" href="/data/css/sunny/jquery-ui-1.10.4.custom.min.css" />
    *@
    @RenderSection("head", false)

</head>
<body @RenderSection("bodyTagAttributes", false)>

    @RenderSection("bodyTagAfter", false)

    <script type='text/javascript'>
        $(function ()
        {
            try
            {
            } catch (err) { console.log(err); }
        });

    </script>


    @if (Request.Cookies["LogonSuperuserAs"] != null)
    {
        <script type='text/javascript'>
            $(function () {
                $("input#LogonSuperuserAsDisable").click(function () {
                    window.location = window.location + '?&LogonSuperuserAsDisable=1';
                });
            });
        </script>
        <div style='position:fixed;top:10px;left:50%;margin-left:-300px;'>
            <input type='button' id="LogonSuperuserAsDisable" value='Отменить заход от имени другого пользователя'>
        </div>
    }

    <!-- (wrapper) -->
    <div class="wrapper">
        <!-- (main-header) -->
        <div class="main-header">
            <!-- (top-block) -->
            <div class="top-block">
                <div class="top-block__cover cover clearfix">
                    @RenderSection("logoTop", false)
                    <!-- (city-top-block) -->
                    <div class="city-top-block">
                        <div class="city-top-block__text">Ваш город:</div>
                        <div class="filter__bar filter-city">
                            <div class="filter-select" data-type="select">
                                <input type="hidden" name="cityTop" value="" class="select-input">
                                <div class="filter-select__label js-filter-select__label">
                                    <div class="filter-select__text"></div>
                                </div>
                                <div class="filter-select__drop">
                                    <div class="filter-select__drop-content">
                                        <div class="filter-select__scroll-content">
                                            <div class="filter-select__search-block">
                                                <input type="text" name="searchTop" value="" placeholder="Поиск городов по МО" class="filter-select__search">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End (city-top-block) -->
                    <!-- (info-top-block) -->
                    <div class="info-top-block clearfix">
                        <ul class="top-social">
                            <li class="top-social__item">
                                <a href="#" class="top-social__link">
                                    <img src="/data/images/top-soc-icon-1.svg" alt="Иконка Facebook" class="top-social__img">
                                </a>
                            </li>
                            <li class="top-social__item">
                                <a href="#" class="top-social__link">
                                    <img src="/data/images/top-soc-icon-2.svg" alt="Иконка Vk" class="top-social__img">
                                </a>
                            </li>
                        </ul>
                        <div class="info-top-list clearfix">
                            <div class="info-top-list__item">
                                @if (!userContextCurrent.IsGuest)
                                {
                                    <a href="/customer" class="top-user">
                                        <div class="top-user__content">
                                            <div class="top-user__img-block">
                                                <img src="@(userContextCurrent.GetData().IdPhoto.HasValue ? "/fm/imageCrop/" + userContextCurrent.GetData().IdPhoto + "?MaxHeight=100&MaxWidth=100" : "/data/images/nophoto_user.jpg")" alt="" class="top-user__img">
                                            </div>
                                            <div class="top-user__name">Личный кабинет</div>
                                        </div>
                                    </a>

                                }
                                else
                                {
                                    <a href="/login" title="" class="top-login">
                                        <div class="top-login__content">
                                            Войти<span class="top-login__text-hidden"> в кабинет</span>
                                        </div>
                                    </a>
                                }
                            </div>
                            @{ var moduleAdmin = AppCore.GetModulesManager().GetModule<Plugins.Admin.Module>(); }
                            @if (moduleAdmin != null && moduleAdmin.CheckPermission(Constants.PermissionManage) == CheckPermissionResult.Allowed)
                            {
                                <div class="info-top-list__item list-admin">
                                    <a href="/@moduleAdmin.UrlName" class="top-user" target="_blank">
                                        <div class="top-user__content">
                                            <div class="top-user__name">Управление сайтом</div>
                                        </div>
                                    </a>
                                </div>
                            }
                            @RenderSection("breadcrumbs", false)
                        </div>
                    </div>
                    <!-- End (info-top-block) -->
                </div>
            </div>
            <!-- End (top-block) -->

            @RenderSection("headerAfter", false)

        </div>
        <!-- End (main-header) -->

        @RenderSection("mainBefore", false)

        <!-- (main-content) -->
        @RenderBody()
        <!-- End (main-content) -->

        @RenderSection("mainAfter", false)

    </div>
    <!-- End (wrapper) -->

    @RenderSection("wrapperAfter", false)

    <script src="/data/js/plugins.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="/data/js/script.js"></script>

    @*RenderPartial("scripts.cshtml")*@

    <link href="/data/libs/jquery.uploadfile/uploadfile.css" rel="stylesheet">
    <script src="/data/libs/jquery.uploadfile/jquery.uploadfile.js"></script>

    @RenderSection("scripts", false)
    @RenderSection("stats", false)

    @if (userContextCurrent.IsSuperuser)
    {
        var isShow = Request.Params.HasKey("queries");
        var isBatch = false;

        if (isShow)
        {
            /*
            var queries = Utils.QueryLogHelper.GetQueries();
            var totalTime = TimeSpan.FromMilliseconds(queries.Sum(x => x.ExecutionTime.TotalMilliseconds));
            <text>
                &nbsp;<center><b>Запросов на странице: @queries.Count, суммарное время выполнения запросов: @((int)totalTime.TotalSeconds).@totalTime.Milliseconds, сортировка запросов по убыванию времени выполнения.</b></center><br />
                @if (queries.Count > 0)
                {
                    <table width="100%" style="border: 1px solid;">
                        @foreach (var query in queries.OrderByDescending(x => x.ExecutionTime))
                        {
                            if (isBatch)
                            {
                                @*var qqq = query.QueryText.Replace("\r\n", "\r\n<br>").Replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                                    foreach (var p in query.Value)
                                    {
                                        qqq = qqq.Replace("@" + p.Key, "'" + p.Value + "'");
                                    }
                                    <tr>
                                        <td style="border: 1px solid;">
                                            @Html.Raw(qqq)
                                        </td>
                                    </tr>*@
                            }
                            else
                            {
                                <tr>
                                    <td style="border: 1px solid;">
                                        @Html.Raw(query.QueryText.Replace("\r\n", "\r\n<br>").Replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"))
                                    </td>
                                    <td style="border: 1px solid;">
                                        @((int)query.ExecutionTime.TotalSeconds).@query.ExecutionTime.Milliseconds<br />
                                        @Html.Raw(string.Join("\r\n", query.Parameters.Select(x => $"{x.Key} = '{x.Value}'")).Replace("\r\n", "\r\n<br>").Replace("\t", "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"))
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                }
            </text>
            */
        }
    }

</body>
</html>