@using Design.Additionals.Plugins.Model
@model EditableMenu

@helper ShowTree(List<EditableMenuItem> local_data, string Class, bool WrapText)
{
    foreach (var ad in local_data)
    {
        if (ad is EditableMenuLinkGroup)
        {
            var item = ad as EditableMenuLinkGroup;
            <li class='@item.Class @if (Url.IsCurrent(item.Url)) { <text>current</text> } @if (item.Items.Count>0) { <text>link-dop-nav</text> } '>
                <a href="@item.Url.Replace("&", "&amp;")" @if (!string.IsNullOrEmpty(Class)) { <text> class="@Class" </text> } title="">@ad.Caption</a>
                <ul>@ShowTree(item.Items, Class, WrapText)</ul>
            </li>
        }
        else if (ad is EditableMenuGroup)
        {
            var item = ad as EditableMenuGroup;
            <li>
                <a href="" title="" class="noclick">@item.Caption</a>
                <ul>@ShowTree(item.Items, Class, WrapText)</ul>
            </li>
        }
        else if (ad is EditableMenuLink)
        {
            var item = ad as EditableMenuLink;
            <li class='@item.Class @if (Url.IsCurrent(item.Url)) { <text>current</text> } '>
                <a href="@item.Url.Replace("&", "&amp;")" @if (!string.IsNullOrEmpty(Class)) { <text> class="@Class" </text> } title="">@item.Caption</a>
            </li>
        }
    }
}

@ShowTree(Model.EditableMenuData, Model.Class, Model.WrapText)