@model Adminmain.Model.EditableMenu
@{ var moduleAdmin = AppCore.Get<Admin.ModuleAdmin>(); }

<script type='text/javascript'>
    $(document).ready(function () {
        $("#block").hide();

        @if (Model.Menu.id > 0) { <text>changeTitle('Редактирование меню: @Model.Menu.name');</text> }
            else { <text>changeTitle('Добавление меню');</text> }
        $(".i_adminmenu ul").show();

        $("form#form_ae").requestJSON({
            before: function ()
            {
                $("input[type=submit]", this).attr('disabled', true);
            },
            after: function(result, message)
            {
                if (message.length > 0) alert(message);
                $("input[type=submit]", this).removeAttr('disabled');
            }
        })

        $("select[name=ModuleName]").click(function () {
            $("select#module_urls option").remove();
            $.requestJSON("/@moduleAdmin.UrlName/madmin/@Module.UrlName/editablemenu_getmenu/" + $(this).val(), null, function (result, message, data) {
                if (message.length > 0) alert(message);
                if (result == JsonResult.OK)
                {
                    for (var i in data)
                    {
                        $("select#module_urls").append($("<option></option>").text(data[i]).data('url', i));
                    }
                }
            });
        });

        $("#add_link").click(function () {
            menu_code = $("textarea[name='code']").val();
            if (menu_code != "") br = '\n'; else br = '';

            var v = $("#module_urls option:selected");
            if (v.length > 0)
            {
                var opt = "[url=" + v.data('url') + "]" + v.text() + "[/url]";
                $("textarea[name='code']").val(menu_code + br + opt);
            }
        })

        $("input#buttonDelete").click(function () {
            var link = $(this);
            if (confirm("Вы действительно хотите удалить это меню?")) {
                $.requestJSON("/@moduleAdmin.UrlName/madmin/@Module.UrlName/editablemenu_delete/@Model.Menu.id", null, function (result, message) {
                    if (message.length > 0) alert(message);
                    if (result == JsonResult.OK) window.location = "/@moduleAdmin.UrlName/mnadmin/@Module.UrlName/editablemenu?@Model.Menu.id";
                });
            }
        });
    });

</script>
<h2>Редактируемое меню</h2>
<br>
<table id="items_results">
    <tr></tr>
    <tr>
        <td width='400'>
            <form action='/@moduleAdmin.UrlName/madmin/@Module.UrlName/editablemenu_edit_save' method='post' id='form_ae'>
                <input type="hidden" name="id" value="@Model.Menu.id" />
                Название меню:&nbsp;<input type='text' name='name' size='40' maxlength='200' value='@Model.Menu.name'><br><br>

                Ниже вы можете вписать нужные вам ссылки и расположить их как вам угодно:<br>

                <textarea name='code' rows='15' cols='60'>@Model.Menu.code</textarea><br>

                <input type='submit' value='Сохранить'> <input type='button' id="buttonDelete" value='Удалить'> <img src="/data/img/loading.gif" alt="" id="loading_img">

            </form>
        </td>
        <td width='400'>
            Выберите модуль и нажмите "Получить меню":<br>
            <form action='/@moduleAdmin.UrlName/madmin/@Module.UrlName/editablemenu_getmenu' method='post' id='form_ae2'>
                <select name='ModuleName' size='10' style="width:270px; ">
                    @foreach (var module in Model.Modules)
                    {
                        <option value='@Module.IdModule'>@module.Caption</option>}
                </select>
                <input type='submit' value='Получить меню' id='getmenu'>
            </form>
            <div id='menu_result2'></div>
        </td>
        <td width='400'>
            Выберите нужную ссылку и нажмите "Копировать". Затем вставляйте ссылку в нужное вам место в первом поле:<br>
            <select id='module_urls' size='10' style="width:270px;"></select><br>
            <button id="add_link">&lt;&lt;</button> <input type='text' size='35' id='module_url'><br>
        </td>
    </tr>
</table>
