@model Auth.Design.Model.Login
@{
    var moduleAuth = ModulesManager.getModule<Modules.Auth.ModuleAuth>();
    var moduleReg = ModulesManager.getModule<Modules.Register.ModuleRegister>();
}

@if (moduleAuth != null)
{
    <div class="login-block-inner">
        <h1>Вход на сайт</h1>
        <div class="enter-block" id="enter_reg">
            <form action='@(Url.CreateRoute<Modules.Auth.ModuleAuthController>(x=>x.Login(null)))' method='post' id="enter_login">
                @if (moduleAuth.IsSuperuserNeeded())
                {
                    <div class="login-result nopadding" style="background-color: salmon;"><p>Внимание, на сайте отсутствует суперпользователь. Пожалуйста, перейдите на страницу регистрации и зарегистрируйте новую учетную запись, которая будет оформлена как суперпользователь и немедленно активирована.</p></div>
                }
                <div class="nopadding"><p>@Html.Raw(Config.site_loginfo)</p></div>
                @if (!string.IsNullOrEmpty(Model?.Result))
                {
                    <div class="login-result">
                        @(Model?.Result)
                    </div>
                }
                <div class="login-form__row">
                    @{
                        var placeholder = (Config.userAuthorizeAllowed == UserManager.eUserAuthorizeAllowed.EmailAndPhone ? "Адрес электронной почты или номер телефона" :
                                            (Config.userAuthorizeAllowed == UserManager.eUserAuthorizeAllowed.OnlyEmail ? "Адрес электронной почты" :
                                            (Config.userAuthorizeAllowed == UserManager.eUserAuthorizeAllowed.OnlyPhone ? "Номер телефона" : "")));
                    }
                    <input name='login' type='text' class='style-input' placeholder='@placeholder' />
                </div>
                <div class="login-form__row">
                    <input name='pass' type='password' class='style-input' placeholder='Пароль' />
                </div>
                <div class="login-form__row">
                    @Html.RecaptchaInvisible("Войти", new { @class = "input-submit" })
                </div>
                <div class="login-form__row login-links">
                    <a href="@(Url.CreateRoute<Modules.Auth.ModuleAuthController>(x=>x.PasswordRestore()))" title="Восстановление забытого пароля">Не помню пароль</a>
                    @if (moduleReg != null) {<a href="@(Url.CreateRoute<Modules.Register.ModuleRegisterController>(x=>x.Register()))" title="">Регистрация</a>}
                </div>
            </form>
        </div>
    </div>
}
