@using Auth
@model Auth.Design.Model.PasswordRestoreVerify
@{
    Layout = "baseCommon.cshtml";
    Title = "Восстановление пароля";
}

@section breadcrumbs {
    <!-- (breadcrumbs) -->
    <div class="breadcrumbs inner-breadcrumbs">
        <div class="breadcrumbs__cover cover">
            <div class="breadcrumbs__links">
                <a typeof="v:Breadcrumb" href="/" class="breadcrumbs__link">Главная</a>
                <span class="breadcrumbs__arrow"></span>
                <p class="breadcrumbs__last">Восстановление пароля</p>
            </div>
        </div>
    </div>
    <!-- End (breadcrumbs) -->
}

@section scripts {
    <script>
    $(function ()
    {
        $("input[name='@Html.NameFor(model => model.Password)'], input#password2").on('keyup change', function ()
        {
            if ($("input[name='@Html.NameFor(model => model.Password)']").val() != $("input#password2").val())
            {
                $("div#js-restore__form-result").text("Пароль и подтверждение пароля не совпадают.");
            }
            else
            {
                $("div#js-restore__form-result").text("");
            }
        });

        $("form#js-restore__form").requestJSON({
            before: function ()
            {
                if ($("input[name='@Html.NameFor(model => model.Password)']").val() != $("input#password2").val())
                {
                    $("div#js-restore__form-result").text("Пароль и подтверждение пароля не совпадают.");
                    return false;
                }
                $("div#js-restore__form-result").html("<img src='data/img/loading.gif'>");
            },
            after: function (result, message, data)
            {
                $("div#js-restore__form-result").html(nl2br(message));
                if (result == JsonResult.OK)
                {
                    $("form#js-restore__form").remove();
                }
            }
        });
    });
    </script>
}


<div class="login-block">
    <div class="cover">
        <div class="login-block-inner">
            <h1>Восстановление пароля</h1>
            <div class="enter-block" id="enter_reg">
                <form action='@(Url.CreateRoute<ModuleAuth, ModuleAuthController>(x => x.PasswordRestoreSave(null)))' method='post' id="js-restore__form">
                    <div class="login-form__row center-row">

                        @if (Model.CodeType == "email")
                        {<text>Введите код подтверждения, полученный в сообщении, отправленном на Вашу электронную почту, затем новый пароль и подтверждение.</text>}
                    else if (Model.CodeType == "phone")
                    { <text>Введите код подтверждения, полученный в сообщении, отправленном на Ваш номер телефона, затем новый пароль и подтверждение.</text>}
                else if (Model.CodeType == "phone")
                { <text>Введите код подтверждения, полученный в сообщении, отправленном на Вашу электронную почту, либо на Ваш номер телефона, затем новый пароль и подтверждение.</text>}
                    </div>
                    <div class="login-form__row">
                        @Html.TextBoxFor(model => model.Code, new { @class = "style-input", placeholder = Html.DisplayNameFor(model => model.Code) })
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>
                    <div class="login-form__row">
                        @Html.PasswordFor(model => model.Password, new { @class = "style-input", placeholder = Html.DisplayNameFor(model => model.Password) })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="login-form__row">
                        @Html.Password("password2", "", new { @class = "style-input", id = "password2", placeholder = "Подтверждение пароля" })
                    </div>
                    <div class="login-form__row">
                        @Html.RecaptchaInvisible("Изменить пароль", new { @class = "input-submit" })
                    </div>
                    <div class="login-form__row login-links">
                        <a href="/reg" title="">Регистрация</a>
                    </div>
                </form>
                <div id="js-restore__form-result"></div>
            </div>
        </div>
    </div>
</div>

