@model MessagingEmail.Model.Configuration
@{
    Layout = "AdminForModules/Design/baseModuleEdit.cshtml";
    var smtpAttributes = new { @class = "js-smtp__block", size = 40 };
}

@section scripts {
    <script type='text/javascript'>
        $(document).ready(function () {
            InitSettings("@(smtpAttributes.@class)");
        });

        function InitSettings(className) {
            if ($("input[type=checkbox]." + className).is(":checked")) {
                $("." + className).not("[type=checkbox]").each(function () {
                    $(this).closest('tr').show();
                });
            }
            else {
                $("." + className).not("[type=checkbox]").each(function () {
                    $(this).val("-");
                    $(this).closest('tr').hide();
                });
            }
            $("select." + className).attr("size", 1);

            $("input[type=checkbox]." + className).change(function () {
                if ($(this).is(":checked")) {
                    $("." + className).not("[type=checkbox]").each(function () {
                        $(this).val("");
                        $(this).closest('tr').show();
                    });
                }
                else {
                    $("." + className).not("[type=checkbox]").each(function () {
                        $(this).val("-");
                        $(this).closest('tr').hide();
                    });
                }
            });
        }
    </script>
}

@section ModuleConfiguration {
    <tr>
        <th colspan="2" align="center">@Html.CheckBoxFor(x => x.IsUseSmtp, smtpAttributes) @Html.LabelFor(x => x.IsUseSmtp)</th>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Smtp.Server)</td>
        <td>
            @Html.TextBoxFor(x => x.Smtp.Server, smtpAttributes)
            @Html.ValidationMessageFor(x => x.Smtp.Server)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Smtp.Login)</td>
        <td>
            @Html.TextBoxFor(x => x.Smtp.Login, smtpAttributes)
            @Html.ValidationMessageFor(x => x.Smtp.Login)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Smtp.Password, smtpAttributes)</td>
        <td>
            @Html.TextBoxFor(x => x.Smtp.Password)
            @Html.ValidationMessageFor(x => x.Smtp.Password)
        </td>
    </tr>

}