@model MessagingEmail.Model.Configuration
@{
    Layout = "AdminForModules/Design/baseModuleEdit.cshtml";
}

@section scripts {
    <script type='text/javascript'>
        $(document).ready(function () {
        });

    </script>
}

@section ModuleConfiguration {
    <tr>
        <td colspan="2">Amazon</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Amazon.Server)</td>
        <td>
            @Html.TextBoxFor(x => x.Amazon.Server)
            @Html.ValidationMessageFor(x => x.Amazon.Server)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Amazon.Login)</td>
        <td>
            @Html.TextBoxFor(x => x.Amazon.Login)
            @Html.ValidationMessageFor(x => x.Amazon.Login)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Amazon.Password)</td>
        <td>
            @Html.TextBoxFor(x => x.Amazon.Password)
            @Html.ValidationMessageFor(x => x.Amazon.Password)
        </td>
    </tr>
    <tr>
        <td colspan="2">GMail</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Smtp.Server)</td>
        <td>
            @Html.TextBoxFor(x => x.Smtp.Server)
            @Html.ValidationMessageFor(x => x.Smtp.Server)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Smtp.Login)</td>
        <td>
            @Html.TextBoxFor(x => x.Smtp.Login)
            @Html.ValidationMessageFor(x => x.Smtp.Login)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(x => x.Smtp.Password)</td>
        <td>
            @Html.TextBoxFor(x => x.Smtp.Password)
            @Html.ValidationMessageFor(x => x.Smtp.Password)
        </td>
    </tr>

}