@model List<Materials.DB.News>
@{ var moduleAdmin = AppCore.Get<Plugins.Admin.ModuleAdmin>(); }

<script type='text/javascript'>
    $(document).ready(function(){
        $("#block").hide();

        changeTitle('Управление новостями');

        $("input.EditItem").click(function ()
        {
            $("#containerForLoading").html("<img src='/data/img/loading.gif'>").requestLoad("/@moduleAdmin.UrlName/madmin/@Module.UrlName/NewsEdit/" + $(this).data("id"), null, function (result, message)
            {
                if (message.length > 0) alert(message);
            });
        });

        $("input#AddNew").click(function ()
        {
            $("#containerForLoading").html("<img src='/data/img/loading.gif'>").requestLoad("/@moduleAdmin.UrlName/madmin/@Module.UrlName/NewsEdit/0", null, function (result, message)
            {
                if (message.length > 0) alert(message);
            });
        });

        $("input.DeleteItem").click(function ()
        {
            if (confirm("Вы точно уверены, что хотите удалить эту новость?"))
            {
                var row = $(this).closest('tr');
                $.requestJSON("/@moduleAdmin.UrlName/madmin/@Module.UrlName/NewsDelete/" + $(this).data("id"), null, function (result, message)
                {
                    if (message.length > 0) alert(message);
                    if (result == JsonResult.OK) row.remove();
                });
            }
        });

        $("input[name=ShowDeleted]").change(function ()
        {
            $("form#FormShowDeleted").submit();
        });
    });
</script>
<h2>Управление новостями</h2>

<table width='100%'>
    <tr>
        <td style='vertical-align:top;width:570px;min-width:570px;'>
            <form action="" method="post" id="FormShowDeleted">
                <h4>Всего новостей: <span id="countRegistered">@Model.Count</span> / @Html.CheckBox("ShowDeleted", Request.Form.GetValues("showDeleted")?.Contains("true") ?? false, new { id = "showDeleted" })<label for="showDeleted">Показать удаленные новости</label> / <input type="button" id="AddNew" value="Добавить новость" /></h4>
            </form>
            <table class='tablesorter' width="100%">
                <thead>
                    <tr>
                        <th style="width:30px">№</th>
                        <th style="width:150px">Название</th>
                        <th style="width:120px">Дата публикации</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                @if (Model.Count == 0)
                {
                    <tr id='not_founded' style='display:none;'>
                        <td class="center" colspan='10'>
                            Ничего не найдено.
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="left">@item.id</td>
                            <td class="left">
                                @if (item.Block)
                                {<span style="color:red;">!Удалено!</span>}
                                @item.name
                            </td>
                            <td class="left">@item.date.ToString("dd.MM.yyyy HH:mm:ss")</td>
                            <td>
                                @if (!item.Block)
                                {
                                    <input type="button" class="EditItem" data-id="@item.id" value="Редактировать"><br />
                                    <input type="button" class="DeleteItem" data-id="@item.id" value="Удалить"><br />
                                }
                            </td>
                        </tr>
                    }
                }
            </table>

        </td>
        <td style='width:50px;'></td>
        <td style='width:100%;vertical-align:top;align:left;padding-top:3px;' id="containerForLoading"></td>
    </tr>
</table>

