@model ModuleAdminmain.Model.Routing

<script type='text/javascript'>
    $(document).ready(function ()
    {
        try
        {
            $("#block").hide();
            changeTitle('Управление внутренней таблицей маршрутизации');

            $("input.manageRoutes").click(function ()
            {
                $("#loading_img").fadeIn();
                $("#manageRoutesContainer").requestLoad("@Url.Action(nameof(ModuleAdminmain.ModuleController.RoutingModule))" + $(this).data('id'), null, function (result, message)
                {
                    if (message.length > 0) alert(message);
                    $("#loading_img").fadeOut();
                })
            });
        } catch (err) { alert(err); }
    });

</script>
<h2>Управление внутренней таблицей маршрутизации</h2>
<table>
    <tr>
        <td width="500" valign="top">
            <h4>Список модулей</h4>
            <table class="tablesorter">
                <thead>
                    <tr>
                        <th>Модуль</th>
                        <th style="width:100px">Основных / Дополнительных / Старых маршрутов</th>
                        <th style="width:100px">Действия</th>
                    </tr>
                </thead>
                @foreach (var module in Model.Modules)
                {
                    <tr>
                        <td>@module.Caption</td>
                        <td>@Model.RoutesMain[module.ID] / @Model.RoutesAdditional[module.ID] / @Model.RoutesOld[module.ID]</td>
                        <td><input type="button" class="ibutton manageRoutes" data-id="@module.ID" value="Подробно" /></td>
                    </tr>
                }
               
            </table>

        </td>
        <td width="10"></td>
        <td valign="top" width="1000">
            <div style="width:100%;margin:0px;padding:0px;" id="manageRoutesContainer"></div>
            <img src="/data/img/loading.gif" alt="" id="loading_img">
        </td>
    </tr>
</table>
