@helper submodule(IList<Core.Items.ItemBase> links)
{
    if (links != null)
    {
        <ul>
            @foreach (var link in links)
            {
                if (link is Core.Types.NestedLinkGroup)
                {
                    <li>
                        <a href='' class='inmenu'>@link.Caption</a>
                        @submodule((link as Core.Types.NestedLinkGroup).Links)
                    </li>
                }
                else if (link.Url == null)
                {
                    <li><span>@link.Caption</span></li>
                }
                else
                {
                    <li><a href='@link.Url'>@link.Caption</a></li>
                }
               
            }
        </ul>
    }
}

@if (Request.Url.ToString().Contains("/madmin/"))
{
    @: @RenderBody()
}
else
{
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        @Title
        @RenderSection("title", false)
        @{ var title = " | " + Config.SiteFullName; }
        @title
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/data/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/data/img/flick/jquery-ui-1.8.custom.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    @*<script type='text/javascript' src='/data/js/ajax.js'></script>*@

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='https://code.jquery.com/jquery-migrate-1.2.1.min.js'></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script type='text/javascript' src='/data/js/cuf.js'></script>
    <script type='text/javascript' src='/data/js/jquery.wysiwyg.js'></script>
    <script type="text/javascript" src="/data/js/jqueryslidemenu.js"></script>
    <script type="text/javascript" src="/data/js/imgareaselect.js"></script>

    <script type="text/javascript" src="/data/libs/jquery.tablesorter/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/data/libs/jquery.tablesorter/jquery.tablesorter.pager.js"></script>
    <script type="text/javascript" src="/data/libs/jquery.tablesorter/jquery.tablesorter.widgets.js"></script>
    <link rel="stylesheet" type="text/css" href="/data/libs/jquery.tablesorter/themes/theme.default.css" />

    <script type="text/javascript" src="/data/js/jquery.tablefill.js "></script>
    <script type='text/javascript' src='/data/js/jquery.cookie.js'></script>

    <script type='text/javascript' src='/data/js/work.js'></script>
    <script type="text/javascript" src="/data/js/common.js"></script>

    <script type="text/javascript" src="/data/js/eckeditor/ckeditor.js"></script>
    <!-- <script type="text/javascript" src="/ckfinder/ckfinder.js"></script> -->

    <script type='text/javascript' src='/data/js/jquery.fancybox.pack.js?v=2.1.3'></script>

    <link href="/data/libs/jquery.uploadfile/uploadfile.css" rel="stylesheet">
    <script src="/data/libs/jquery.uploadfile/jquery.uploadfile.js"></script>

    <!--[if lte IE 7]>
    <style type="text/css">
    html .jqueryslidemenu{height: 1%;} /*Holly Hack for IE7 and below*/
    </style>
    <![endif]-->

    <script type='text/javascript'>
        function changeTitle(new_title) {
            try {
                if (+"\v1") {
                    var title = 'Администрирование | @title';
                    if (typeof (new_title) != 'undefined') title = new_title + ' | ' + title;
                    $('title').html(title);
                }
            } catch (err) { alert(err); }
        }

        function getResultAnim(form, div) {
            form.submit(function () {
                var div_res = div;
                $("#loading_img").fadeIn("slow");
                div_res.fadeIn("slow");
                setTimeout(function () { div_res.fadeOut("slow") }, 2500);
                var opros = setInterval(function () {
                    if (div_res.text() != "") {
                        setTimeout(function () { div_res.text(""); $("#loading_img").fadeOut("slow"); }, 3500);
                        clearInterval(opros);
                    };
                }, 1000);
                return false;
            });
        }

        function endAnim(div_res) {
            $("#loading_img").fadeOut();
            div_res.fadeIn("slow");
            $("#admin_botgr").fadeIn("slow");
            div_res.click(function () { $(this).fadeOut(); $("#admin_botgr").fadeOut(); });
        }

        function stAnim() {
            $("form").submit(function () {
                $("#action_result").fadeOut().removeClass("action_error");
                $("#loading_img").fadeIn("slow");
            });
            $("#loading_img").hide();
        }

        function stAnimPh() {
            $("form").submit(function () {
                $("#action_result").fadeOut();
                if ($(this).attr("id") == "form_add_photo") $("#loading_photo").fadeIn("slow");
            });
            $("#loading_photo").hide();
        }

        $(document).ready(function () {
            $('a.admin_menu').click(function () {
                try {
                    var aj = new ajaxRequest();
                    aj.load($(this).attr('href'), 'cmain');
                    aj.userOnLoad = function () { $("#block").hide(); };
                    $("#block").show();
                    $("#cat_result, #item_result, #photo_result, #pages_result, #action_result").fadeOut();
                    return false;
                }
                catch (err) { alert(err); }
                return false;
            });

            $('a#info').click();

            $("#block").hide();
            $("#block").css({ "opacity": "0.7" });
            $("#cleft > a").click(function () {
                $("#block").show();
            });

            $(".inmenu").click(function () {
                return false;
            })

            changeTitle();

            $("#left_panel ul li a.lmain2").click(function () {
                try {
                    var menuBlock = $(this).parent().parent().find("ul");
                    var menuBlockVisible = menuBlock.css("display") != "none";

                    if (menuBlockVisible) menuBlock.slideUp();
                    else menuBlock.slideDown();

                    $.cookie(menuBlock.parent().attr('class'), !menuBlockVisible);
                }
                catch (err) { alert(err); }

                return false;
            });

            $("#left_panel ul li a.lmain2").each(function () {
                if ($.cookie($(this).parent().parent().attr('class')) === "true")
                    $(this).parent().parent().find('ul').slideDown();
                else
                    $(this).parent().parent().find('ul').slideUp();

            });

            $(".open_all").click(function () { $("#left_panel ul li ul").slideDown(); return false; })
            $(".close_all").click(function () { $("#left_panel ul li ul").slideUp(); return false; })
        });
    </script>
</head>
<body>

    <div id="item_result"></div>
    <div id="cat_result"></div>
    <div id="photo_result"></div>
    <div id="pages_result"></div>
    <div id='action_result'></div>

    <div id="block"><p><img src="/data/img/loading.gif" alt=""> Загрузка...</p></div>
    <div id="photo_view"><img src=""></div>

    <div id="top_panel">
        <ul>
            <li class='padd'><a href='/' target='_blank' class=''>Главная страница</a></li>
            <li>↓ <a href='' class='open_all'>Раскрыть меню</a></li>
            <li>↑ <a href='' class='close_all'>Свернуть меню</a></li>
            <li class='admin_login'><a href='/admin' title=''>@CurrentUserContext.GetData()</a></li>
        </ul>
    </div>
    <div id="right_panel">
        <div id="left_panel">
            <div class="wrapper h40"></div>
            <ul>
                @{
                    var moduleAdmin = AppCore.GetModulesManager().GetModule<Plugins.Admin.ModuleAdmin>();
                    var menu = moduleAdmin.GetAdminMenuList();
                }
                @if (menu != null)
                {
                    foreach (var module in menu)
                    {
                        <li class='i_@module.Key.UrlName'>
                            <span class="lmain">
                                <a href="" title="" class="lmain2">@module.Key.Caption</a>
                                <a href='/@moduleAdmin.UrlName/mnadmin/@module.Key.IdModule/config/' style='float:right;margin-right:5px;'><img src='/data/img/admin/gear_wheel.png'></a>
                            </span>
                            @submodule(module.Value)
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="cmain" id='cmain'>
           @RenderBody()
            <div class="wrapper h35"></div>
        </div>
    </div>
</body>
</html>
}